$side_base_color: #333C44;
$side_border_color: #333;
$side_btn_color: #f3f3f3;

$side_bright_color: #66BB6A;

$side_li_bg: #333C44;
$side_li_color: rgb(248, 248, 248);
$side_li_color_hv: rgb(205, 205, 205);